<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :synopsis, style: "display: block" %>
    <%= form.textarea :synopsis %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.label :age_rating, style: "display: block" %>
    <%= form.select :age_rating, Movie.age_ratings.keys.map { |key| [key.gsub('_', '-'), key] }, { prompt: "Select an age rating" } %>
  </div>

  <div>
    <%= form.label :duration_minutes, style: "display: block" %>
    <%= form.number_field :duration_minutes %>
  </div>

  <div>
    <%= form.label :poster_url, style: "display: block" %>
    <%= form.text_field :poster_url %>
  </div>

  <div style="margin-top: 30px; padding: 15px; border: 1px solid #ddd; background-color: #fcfcfc;">
    <h3>Cast and Crew</h3>

    <datalist id="people-options">
      <% Person.pluck(:name).each do |name| %>
        <option value="<%= name %>"></option>
      <% end %>
    </datalist>

    <div>
      <%= form.fields_for :roles do |role_fields| %>
        <%= render "role_fields", role_fields: role_fields %>
      <% end %>
    </div>

    <template>
      <%= form.fields_for :roles, Role.new, child_index: "NEW_RECORD" do |role_fields| %>
        <%= render "role_fields", role_fields: role_fields %>
      <% end %>
    </template>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
