<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Synopsis:</strong>
    <%= movie.synopsis %>
  </div>

  <div>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </div>

  <div>
    <strong>Duration minutes:</strong>
    <%= movie.duration_minutes %>
  </div>

  <div>
    <strong>Poster url:</strong>
    <%= movie.poster_url %>
  </div>

</div>
