<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="tmdb-search">
  <h2>Search TMDb for a movie</h2>
  <%= form_with url: search_tmdb_movies_path, method: :post, local: true do %>
    <div>
      <%= label_tag 'search_terms', 'Search Terms' %>
      <%= text_field_tag 'search_terms', nil, data: { controller: 'tmdb-search', action: 'input->tmdb-search#search', tmdb_search_target: 'input' }, autocomplete: 'off' %>
    </div>
    <div>
      <%= submit_tag 'Search TMDb' %>
    </div>
  <% end %>

  <div id="tmdb-live-results" data-tmdb-search-target="results" style="margin-top:8px"></div>
</div>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th><%= sortable('title', 'Title') %></th>
        <th><%= sortable('age_rating', 'Age Rating') %></th>
        <th><%= sortable('duration_minutes', 'Duration (min)') %></th>
        <th>Poster</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie %></td>
          <td><%= movie.age_rating %></td>
          <td><%= movie.duration_minutes %></td>
          <td>
            <% if movie.poster_url.present? %>
              <img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" style="max-width: 50px">
            <% end %>
          </td>
          <td><%= link_to 'Show', movie %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
