<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <h2><%= movie.title %></h2>
     <% if movie.poster_url.present? %>
      <p><img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" style="max-width: 100px"></p>
     <% end %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
