<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="tmdb-search">
  <h2>Search TMDb for a movie</h2>
  <%= form_with url: search_tmdb_movies_path, method: :post, local: true do %>
    <div>
      <%= label_tag 'search_terms', 'Search Terms' %>
      <%= text_field_tag 'search_terms', nil %>
    </div>
    <div>
      <%= submit_tag 'Search TMDb' %>
    </div>
  <% end %>
</div>

<div id="movies">
  <% @movies.each do |movie| %>
    <h2><%= movie.title %></h2>
    <p><strong>ID:</strong> <%= movie.id %></p>
     <% if movie.poster_url.present? %>
      <p><img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" style="max-width: 100px"></p>
     <% end %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
