<p style="color: green"><%= notice %></p>

<h1><%= @movie.title %></h1>
<% if @movie.poster_url.present? %>
  <p><img src="<%= @movie.poster_url %>" alt="<%= @movie.title %> poster" style="max-width: 300px"></p>
<p><%= @movie.synopsis %></p>
<p>Release date: <%= @movie.release_date %></p>
<p>Age rating: <%= @movie.age_rating %></p>
<p>Duration: <%= @movie.duration_minutes %> minutes</p>
<% end %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>
  
  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
