<div id="<%= dom_id role %>">
  <div>
    <strong>Role type:</strong>
    <%= role.role_type %>
  </div>

  <div>
    <strong>Character name:</strong>
    <%= role.character_name %>
  </div>

  <div>
    <strong>Person:</strong>
    <%= role.person_id %>
  </div>

  <div>
    <strong>Movie:</strong>
    <%= role.movie_id %>
  </div>

</div>
