<div id="<%= dom_id review %>">
  <div>
    <strong>Rating:</strong>
    <%= review.rating %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= review.body %>
  </div>

  <div>
    <strong>User:</strong>
    <%= review.user_id %>
  </div>

  <div>
    <strong>Movie:</strong>
    <%= review.movie_id %>
  </div>

</div>
